body {
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
}
p {
    font-family: 'Times New Roman', Times, serif;

}
.diyabet{
    text-align: center;
    margin-right: 100px;
    margin-left: 10 0px
}