/* header {
    background-color:pink;
    border: solid white;
    border-radius: 10px;
    text-align:left; 
} */


header .dropdown-content{
    position: absolute;
    display: none;
    /* background-color: rgb(216,233,227); */
    background-color: #60224e;
    box-shadow: 0px 8px 16px 0px #60224e;
}


header .dropdown-content a{
    display: block;
    color: white;
    /* color: red; */
    text-decoration: none;
    padding: 12px 15px;
}
header .Dropdown:hover .dropdown-content{
    display: block;
}
header .dropdown-content a:hover{
    background-color: hotpink;
}
header .can{
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
header li{
    float: left;
}
header li a,.dropbtn{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 15px 20px;
}
header ul{
    list-style-type: none;
    background-color: #60224e;
    overflow: auto;
}

header li a:hover,.Dropdown:hover .dropbtn{
    background-color: red;
}